<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532473111415-dc86ck9pc0gnam53d8rbqecepjp84b3a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532473111415-dc86ck9pc0gnam53d8rbqecepjp84b3a</string>
	<key>API_KEY</key>
	<string>AIzaSyD3ezPr9rpXycPZ_aepUYen2LBlFIIFxYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>532473111415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codewithchris.LearningApp</string>
	<key>PROJECT_ID</key>
	<string>firestore-learning-app-9462b</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-learning-app-9462b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532473111415:ios:b3d17127bac1dd05cbf772</string>
</dict>
</plist>